language: python
python:
  - "2.7"



install: true

# Should be set to PyPI package on next release
before_install:
   # add for profile
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq


install:
# add for profile
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"
  - pip install nose-cprof
  - pip install properform

  - pip install git+https://github.com/ioam/param.git

script:
  - nosetests --with-doctest --with-cprofile --cprofile-stats-erase --cprofile-stats-file=profile_lancet_09c8fd9eac_1
  - python -m properform Push 47.88.50.110:15554 asdf_lancet_09c8fd9eac_1 ./profile_lancet_09c8fd9eac_1
 #2017-09-16 13:26:31 modified at 0 #2017-09-16 13:26:37 modified at 1