language: python
python:
  - "2.7"



install: true

# Should be set to PyPI package on next release
before_install:
   # add for profile
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq


install:
# add for profile
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"
  - pip install nose-cprof
  - pip install properform

  - pip install git+https://github.com/ioam/param.git

script:
  - nosetests --with-doctest --with-cprofile --cprofile-stats-erase --cprofile-stats-file=profile_lancet_6f25c9d59a_3
  - python -m properform Push 47.88.50.110:15554 asdf_lancet_6f25c9d59a_3 ./profile_lancet_6f25c9d59a_3
 #2017-09-16 13:34:03 modified at 0 #2017-09-16 13:34:09 modified at 1 #2017-09-16 13:34:16 modified at 2 #2017-09-16 13:34:23 modified at 3