language: python
python:
  - "2.7"



install: true

# Should be set to PyPI package on next release
before_install:
   # add for profile
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq


install:
# add for profile
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"
  - pip install nose-cprof
  - pip install properform

  - pip install git+https://github.com/ioam/param.git

script:
  - nosetests --with-doctest --with-cprofile --cprofile-stats-erase --cprofile-stats-file=profile_lancet_6869c75a08_3
  - python -m properform Push 47.88.50.110:15554 asdf_lancet_6869c75a08_3 ./profile_lancet_6869c75a08_3
 #2017-09-16 13:45:26 modified at 0 #2017-09-16 13:45:34 modified at 1 #2017-09-16 13:45:40 modified at 2 #2017-09-16 13:45:46 modified at 3