language: python
python:
  - "2.7"



install: true

# Should be set to PyPI package on next release
before_install:
   # add for profile
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq


install:
# add for profile
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"
  - pip install nose-cprof
  - pip install properform

  - pip install git+https://github.com/ioam/param.git

script:
  - nosetests --with-doctest --with-cprofile --cprofile-stats-erase --cprofile-stats-file=profile_lancet_0faac5c17d_4
  - python -m properform Push 47.88.50.110:15554 asdf_lancet_0faac5c17d_4 ./profile_lancet_0faac5c17d_4
 #2017-09-16 13:36:25 modified at 0 #2017-09-16 13:36:31 modified at 1 #2017-09-16 13:36:37 modified at 2 #2017-09-16 13:36:43 modified at 3 #2017-09-16 13:36:49 modified at 4